<a href="https://colab.research.google.com/github/redadmiral/LaTeX-Boilerplate/blob/master/Einf%C3%BChrungPython2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Einführung in Python 2

Im ersten Teil haben wir die grundlegenden Bestandteile von Python kennengelernt: Wie wir Funktionen aufrufen und welche Datentypen es gibt.

In diesem Teil beschäftigen wir uns damit selbst Funktionen zu schreiben und lernen Loops, also Schleifen kennen, mit denen wir viele Elemente mit wenig Code bearbeiten können.

## Funktionen

Wir erinnern uns an die `print()`-Funktion. Wir übergeben ihr einen oder mehrere Strings, sie verarbeitet sie und gibt sie zurück.

Das ist die grundlegende Idee hinter einer Funktion: Sie funktionieren wie kleine Daten-Maschinen. Wir geben etwas in sie hinein (den Input) sie verarbeiten es und geben das was sie verarbeitet haben wieder zurück.

Solche Funktionen können wir auch selbst schreiben, man nennt das die Funktion definieren. Deshalb beginnen wir mit dem Wörtchen `def` wenn wir die Funktion definieren wollen. 


```python
def
```

Darauf folgt der Name der Funktion:

```python
def double
```

Unsere Funktion wird eine Zahl verdoppeln, deshalb nennen wir sie `double`. Wir können ihr aber auch jeden anderen Namen geben den wir wollen. Es ist nur Konvention, dass wenn man mehrere Wörter verwendet, diese mit einem Unterstrich trennt, also z.B. `double_number` schreibt.

Als nächstes bekommt die Funktion ein paar Klammern spendiert:

```python
def double()
```

In diese Klammern schreiben wir, was wir der Funktion übergeben, den sogeannanten Parameter.

```python
def double(number)
```

Und schließen das mit einem Doppelpunkt ab, damit Python weiß, dass jetzt der formale Teil abgeschlossen ist.

```python
def double(number):
```

Die nächste Zeile müssen wir mit zwei Leerzeichen einrücken, damit Python weiß, dass der folgende Teil noch zur Funktionsdefinition gehört. Das Colab-Notebook übernimmt das aber für uns automatisch. Hier schreiben wir was die Funktion machen soll, nämlich die übergebene Zahl `number` verdoppeln.


```python
def double(number):
  result = number*2
```

Damit verdoppelt Python jetzt zwar die Zahl und schreibt sie in eine Variable `result`, aber gibt sie nicht wieder zurück. Dafür brauchen wir das `return`-Statement:

```python
def double(number):
  result = number*2
  return result
```

Damit haben wir unsere Funktion fertig gebaut: Wir können ihr eine Zahl übergeben, sie verarbeitet sie und gibt sie wieder zurück. 

Das können wir jetzt ausprobieren:

In [ ]:
def double(number):
  result = number*2
  return result

Jetzt können wir die Funktion aufrufen, indem wir ihr eine Zahl übergeben:

In [ ]:
double(number=2)

4

Eine Funktion kann natürlich auch mehrere Argumente nehmen. Wir können zum Beispiel eine Funktion schreiben, die beliebige Zahlen multipliziert:

In [ ]:
def multiply(number, multiplier):
  return number*multiplier

multiply(number=2, multiplier=3)

6

Die Parameter in Funktionen können auch Standardwerte zugewiesen bekommen, so dass wir häufig benutzte Werte nicht immer wieder neu eingeben müssen. 

Wenn wir der `multiply()`-Funktion den Standardwert 2 für den multiplier geben, dann verdoppelt sie uns die Zahl wenn wir ihr nur ein Argument mitgeben.

In [ ]:
def multiply(number, multiplier=2):
  return number*multiplier

multiply(number=2)

4

Diesen Standardwert können wir einfach überschreiben, indem wir der Funktion zwei Werte übergeben:

In [ ]:
multiply(number=2, multiplier=5)

10

Und es funktioniert auch die Namen der Paramter wegzulassen, auch wenn es dann ein wenig unübersichtlicher werden kann:

In [ ]:
multiply(2, 5)

10

## Einrückungen und Namespaces

Wir haben bei der Funktions-Definition oben gesehen, dass wir einen Teil der Funktion ein wenig eingerückt haben. Wie gesagt, war das dafür dass Python weiß, was zur Funktion gehört und was nicht.

Was oft verwirrend ist, ist dass Variablen, die in einer Einrückung definiert werden auch nur dort gelten. In einer Definition kann man aber auf die Variablen von einer Einrückungsstufe höher zugreifen:

In [ ]:
outside_var = 2

def example():
  return outside_var 

example()

2

Andersherum funktioniert das aber nicht:

In [ ]:
def example():
  inside_var = 2
  return None

inside_var

NameError: ignored

Das heißt auch, dass Variablennamen je nach Einrückung doppelt belegt sein können:

In [ ]:
outside_var = 2

def example():
  outside_var = 10
  return outside_var 

print(example(), outside_var)

10 2

Man spricht hier von verschiedenen "Namespaces", also Räume in denen Namen gelten. Jede Stufe der Einrückung macht einen neuen Namespace auf, so dass Namen die dort definiert werden nur hier und in niedrigeren Einrückungen gelten.

Sowas macht den Code aber schwerer zu verstehen. Deshalb sollte man immer versuchen, Variablennamen nur einfach zu belegen.

## If/Else

Sehr häufig müssen wir anhand eines Werts entscheiden, wie wir in unserem Programm weitermachen. Dafür haben wir `if`/`else`-Conditions. 

Sie funktionieren prinzipiell nach dem Prinzip: Wenn etwas erfüllt ist, dann mach das eine und wenn nicht, mach das andere. 

Zum Beispiel wollen wir wissen, ob eine Zahl größer oder kleiner ist als eine andere. Dann schreiben wir:

In [ ]:
number = 2

if number > 10:
  print("Number is larger than 10.")
else:
  print("Number is smaller than 10.")

Number is smaller than 10.

In [ ]:
number = 12

if number > 10:
  print("Number is larger than 10.")
else:
  print("Number is smaller than 10.")

Number is larger than 10.

Wenn wir mehrere Conditions haben, dann können wir noch `elif`-Conditions auf der Hälfte einführen:

In [ ]:
number = 7

if number > 10:
  print("Number is larger than 10.")
elif number > 5 and number <= 10:
  print("Number is between 5 and 10")
else:
  print("Number is smaller than 10.")

Number is between 5 and 10

Bei der `elif`-Condition sehen wir ein neues Konzept: Wir können Conditions mit `and` oder `or` verknüpfen. 

Bei einer Verknüpfung mit `and` müssen beide Seiten `True` sein, damit sie `True` zurückgibt:

In [ ]:
True and True

True

In [ ]:
True and False

False

Bei `or` muss nur eine Seite `True` sein, damit sie `True` zurückgibt.

In [ ]:
True or False

True

In [ ]:
False or False

False

In [ ]:
True or True

True

Natürlich schreibt man das nicht explizit mit `True` und `False`-Werten, sondern nutzt dafür die Conditions, wie oben im `elif`-Statement.

In [ ]:
2 < 3 and 4 == 4

True

## Schleifen

Wir haben oben bereits Listen, Sets und Dictionaries kennengelernt, die alle aus einer Ansammmlung einzelner Elemente bestehen.

Wenn wir jedes der Elemente in diesen Datentypen anschauen und eventuell verändern möchten, dann brauchen wir dafür eine Schleife. Die gängigste Schleife ist die `for`-Schleife.

Wenn wir über unsere Liste `cats` iterieren wollen (so nennt man das, wenn man sich mit einer Schleife jedes Element in einer Liste anschaut) schreiben wir die for-Schleife wie folgt:

In [ ]:
for cat in cats:
  print(cat)

Bengal
German Rex
Highlander
European Shorthair

Das ging jetzt ziemlich schnell. Um das ein bisschen langsamer zu machen, pausieren wir die Schleife bei jeder Runde für eine Sekunde. Was hier genau passiert, ist noch nicht so wichtig. Ich will nur die Schleife besser veranschaulichen.

In [ ]:
from time import sleep

for cat in cats:
  print(cat)
  sleep(1)

Bengal
German Rex
Highlander
European Shorthair

Das heißt, dass Python für jedes Element (`cat`) aus der Liste `cats` einmal die `print()`-Funktion aufrufen.

Wir können die Liste so aber nicht verändern, weil wir nur die Variable `cat` verändern würden, ohne sie zurück in die Liste zu schreiben:

In [ ]:
for cat in cats:
  cat = "dog"

cats

['Bengal', 'German Rex', 'Highlander', 'European Shorthair']

Um die Liste verändern zu können, müssen wir direkt, also mit den eckigen Klammern auf die Liste zugreifen. Dafür können wir die `enumerate()`-Funktion verwenden. Mit ihr bekommen wir zwei Werte zurück: Den Index den wir in die eckigen Klammern schreiben können und den Wert:

In [ ]:
for i, cat in enumerate(cats):
  print(i)
  print(cat)

0
Bengal
1
German Rex
2
Highlander
3
European Shorthair

Und wenn wir die Liste verändern wollen, schreiben wir das so:

In [ ]:
for i, cat in enumerate(cats):
  cats[i] = "dog"

cats

['dog', 'dog', 'dog', 'dog']

Ein seltener verwendeter Schleifentyp ist die `while`-Schleife. Diese wird so lange ausgeführt, bis eine gewisse Condition erfüllt ist:

In [ ]:
i = 0

while(i < 10):
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9

## Import von Modulen